/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/storage/debugbar/
.idea/modules.xml
key.pem
key.pub
.DS_Store
*.XLS
*.XLS#
*.csv
*.csv#
docker-compose.yml